{% extends "core/layout.html" %}
{% load humanize %}

{% block body %}
<main>
    <div class="container">
    {% if cart_items %}
    <h4 class="fw-bold">Корзина</h4>
    {% else %}
    <h4 class="fw-bold">Корзина пуста</h4>
    <p style="font-size: 14px; color: grey;"> Добавьте товар в корзину, чтобы продолжить покупку</p>
    {% endif %}
    <br>
    {% if user.is_authenticated %}
        {% if cart_items %}
            <div class="row">
                <div class="col-md-8 rounded-5 shadow">
                    <br>
                    {% for cart_item in cart_items %}
                    <div class="row align-items-center" >
                        <div class="col-md-2">
                            <a href="{% url 'item' cart_item.item.slug %}"><img src="{{ cart_item.item.photo.url }}" width="100"></a>
                        </div>
                        <div class="col-md-6">
                            <a class="link_text" href="{% url 'item' cart_item.item.slug %}"><p class="text-left">{{ cart_item.item.name }}</p></a>
                            <form method="post" action="{% url 'delete_cart_item' cart_item.pk %}">
                                {% csrf_token %}
                                <button type="submit" style="border: none; background-color: transparent;">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>
                        <div class="col-md-2">
                            <p class="fw-bold">{{ cart_item.item_total|intcomma  }} тг</p>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col">
                                    {% if cart_item.quantity == 1 %}
                                    <form method="post" action="{% url 'decrease_by_one' cart_item.pk %}">
                                        {% csrf_token %}
                                        <button class="btn btn-outline-secondary btn-sm " style="font-weight: bold; width: 30px" type="submit" disabled>-</button>
                                    </form>
                                    {% else %}
                                    <form method="post" action="{% url 'decrease_by_one' cart_item.pk %}">
                                        {% csrf_token %}
                                        <button class="btn btn-outline-primary btn-sm" style="font-weight: bold; width: 30px;" type="submit">-</button>
                                    </form>
                                    {% endif %}
                                </div>
                                <div class="col">
                                    <p class="text-center" > {{ cart_item.quantity }}</p>
                                </div>
                                <div class="col">
                                    {% if cart_item.quantity == cart_item.item.quantity %}
                                    <form method="post" class="text-left" action="{% url 'increase_by_one' cart_item.pk %}">
                                        {% csrf_token %}
                                        <button class="btn btn-outline-secondary btn-sm " style="font-weight: bold; width: 30px;" type="submit" disabled>+</button>
                                    </form>
                                    {% else %}
                                    <form method="post" class="text-left" action="{% url 'increase_by_one' cart_item.pk %}">
                                        {% csrf_token %}
                                        <button class="btn btn-outline-primary btn-sm " style="font-weight: bold; width: 30px;" type="submit">+</button>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>  
                    </div>
                    {% if not forloop.last %}
                    <hr class="bg-secondary">
                    {% endif %}
                    {% endfor %}
                    <br>
                </div>
                <div class="col-md-1 rounded-5"></div>
                
                <div class="col-md-3 rounded-5 shadow shadow" style="max-width:370px;">
                    <br>
                    {% if addresses %}
                        <form method="post" action="{% url 'make_an_order' %}">
                            <div class="text-center">
                                <button type="submit" class="btn btn-lg go_cart" type="submit">Купить</button>
                            </div>
                            <br>
                            <p style="font-size: 15px; font-weight:bold;">Оплата при получении</p>
                            {% csrf_token %}
                            <label for="address">Выберите адрес</label>
                            <select class="form-select" id="address" name="address" aria-label="Выберите адрес">
                                {% for address in addresses %}
                                    {% if address.default %}
                                        <option selected="selected" value="{{ address.id }}">{{ address.info }}</option>
                                    {% else %}
                                        <option value="{{ address.id }}">{{ address.info }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </form>
                    {% else %}
                        <p style="font-size: 15px; font-weight:bold;">Введите адрес, чтобы сделать заказ</p>
                    {% endif %}
                    <br>             
                    <div class="d-flex justify-content-between" style="font-size: 14px; color: grey;">
                        <p>Товары, {{ cart_items.0.cart.get_quantity }}  шт.</p>
                        <p>{{ total|intcomma }} тг</p>
                    </div>
                    <hr class="bg-secondary">
                    <div class="d-flex justify-content-between fw-bold fs-4">
                        <p>Итого</p>
                        <p>{{ total|intcomma }} тг</p>
                    </div>
                    <br>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-5 rounded-5 shadow">
                    <br>
                    <h6 style="margin-bottom:0">Добавить новый адерс</h6>
                    <form method="post" action="{% url 'address' %}" class="mt-3">
                        {% csrf_token %}
                        <div>{{ form.non_field_error }}</div>
                        {% for f in form %}
                            <div class="form-group">
                                <div><lable for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</div>
                            </div>
                            <div>{{ f.errors}}</div>
                        {% endfor %}
                        <br>
                        <button type="submit" class="btn button_style">Добавить адрес</button>
                    </form>
                    <br>
                </div>
                <div class="col-7"></div>
            </div>
        {% endif %}

    {% else %}

        {% if cart_items %}
                <div class="row">
                    <div class="col-md-8 rounded-5 shadow" >
                        <br>
                        {% for cart_item in cart_items %}
                            <div class="row align-items-center">
                                <div class="col-md-2">
                                    <a href="{% url 'item' cart_item.item.slug %}"><img src="{{ cart_item.item.photo.url }}" width="100"></a>
                                </div>
                                <div class="col-md-6">
                                    <a class="link_text" href="{% url 'item' cart_item.item.slug %}"><p class="text-left">{{ cart_item.item.name }}</p></a>
                                    <form method="post" action="{% url 'delete_cart_item_anon' cart_item.item.pk %}">
                                        {% csrf_token %}
                                        <button type="submit" style="border: none; background-color: transparent;">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="col-md-2">
                                    <p class="fw-bold">{{ cart_item.total|intcomma }} тг</p>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <div class="col">
                                            {% if cart_item.quantity == 1 %}
                                            <form method="post" action="{% url 'decrease_by_one_anon' cart_item.item.pk %}">
                                                {% csrf_token %}
                                                <button class="btn btn-outline-secondary btn-sm " style="font-weight: bold; width: 30px" type="submit" disabled>-</button>
                                            </form>
                                            {% else %}
                                            <form method="post" action="{% url 'decrease_by_one_anon' cart_item.item.pk %}">
                                                {% csrf_token %}
                                                <button class="btn btn-outline-primary btn-sm" style="font-weight: bold; width: 30px;" type="submit">-</button>
                                            </form>
                                            {% endif %}
                                        </div>
                                        <div class="col">
                                            <p class="text-center">{{ cart_item.quantity }}</p>
                                        </div>
                                        <div class="col">
                                            {% if cart_item.quantity == cart_item.item.quantity %}
                                            <form method="post" class="text-left" action="{% url 'increase_by_one_anon' cart_item.item.pk %}">
                                                {% csrf_token %}
                                                <button class="btn btn-outline-secondary btn-sm " style="font-weight: bold; width: 30px;" type="submit" disabled>+</button>
                                            </form>
                                            {% else %}
                                            <form method="post" class="text-left" action="{% url 'increase_by_one_anon' cart_item.item.pk %}">
                                                {% csrf_token %}
                                                <button class="btn btn-outline-primary btn-sm " style="font-weight: bold; width: 30px;" type="submit">+</button>
                                            </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if not forloop.last %}
                            <hr class="bg-secondary">
                            {% endif %}
                        {% endfor %}
                        <br>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3 rounded-5 shadow">
                        <br>
                        <form method="get" action="{% url 'register' %}" class="text-center" >
                            {% csrf_token %}
                            <button class="btn button_style" type="submit">Создать аккаунт</button>
                        </form>
                        <br><br>                
                        <div class="d-flex justify-content-between" style="font-size: 14px; color: grey;">
                            <p>Товары, {{ amount_of_items }} шт.</p>
                            <p>{{ total|intcomma }} тг</p>
                        </div>
                        <hr class="bg-secondary">
                        <div class="d-flex justify-content-between fw-bold fs-4">
                            <p>Итого</p>
                            <p>{{ total|intcomma }} тг</p>
                        </div>
                        <br>
                    </div>
                </div>
        {% endif %}

    {% endif %}
    </div>
</main>
{% endblock %}