{% extends "users/user_layout.html" %}
{% load humanize %}

{% block userbody %}
    <h3>Заказы</h3>
    <br>
    {% for order in orders %}
    <div class="row shadow-sm p-2 mb-3 bg-body rounded-5" >
        <div class="d-flex justify-content-between">
            <a href="{% url 'order' order.id %}" style="text-decoration: none; color: inherit;">
                <h5 style="font-weight: bold; margin-bottom:0px">{{ order.formatted_order_date }}</h5>
                <p style="font-size: 13px">Перейти к заказу </p>
            </a>
            <p style="font-weight: bold">Итого: {{ order.total|intcomma }} тг</p>
        </div>
        <hr class="bg-secondary">
            <div class="row">
                <div class="col-5">
                    <p>
                        Адрес доставки: {{ order.address }} <br>
                        Статус: {{ order.get_order_status }}
                    </p>
                </div>
                <div class="col-2"></div>
                <div class="col-5">
                    <div class="d-flex flex-wrap" >
                        {% for item in order.items.all %}
                            <div class="mr-3 mb-3">
                                <a href="{% url 'item' item.slug %}">
                                    <img src="{{ item.photo.url }}" class="img-fluid" alt="{{ item.name }}" width=80 style="margin-right:10px;margin-left:10px;">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
    </div>
    {% endfor %}
{% endblock %}