{% extends "users/user_layout.html" %}
{% load humanize %}

{% block userbody %}
    <h3>Заказы</h3>
    <br>
    {% for order in orders %}
    <div class="row shadow-sm p-2 mb-3 bg-body rounded-5" >
        <div class="d-flex justify-content-between">
            <a href="{% url 'order' order.id %}" style="text-decoration: none; color: inherit;">
                <h5 style="font-weight: bold; margin-bottom:0px">{{ order.formatted_order_date }}</h5>
                <p style="font-size: 13px">Перейти к заказу </p>
            </a>
            <p style="font-weight: bold">Итого: {{ order.total|intcomma }} тг</p>
        </div>
        <hr class="bg-secondary">
            <div class="row">
                <div class="col-5">
                    <p style="margin-bottom:5px;">Адрес доставки: {{ order.address }}</p>
                    {% if order.get_order_status == "Отменён" %}
                        <p>Статус: <span class="rounded-pill" style="background-color: #e46161; padding:2px 7px; color:white;">{{ order.get_order_status }}</span></p>
                    {% elif order.get_order_status == "Заказ создан" or order.get_order_status == "Передан службе доставки" %}
                        <p>Статус: <span class="rounded-pill" style="background-color: #3c88fa; padding:2px 7px; color:white;">{{ order.get_order_status }}</span></p>
                    {% elif order.get_order_status == "Доставлен"%}
                        <p>Статус: <span class="rounded-pill" style="background-color: grey; padding:2px 7px; color:white;">{{ order.get_order_status }}</span></p>
                    {% endif %}

                    {% if order.get_order_status != "Отменён" and order.get_order_status != "Доставлен" %}
                    <form  method="post" action="{% url 'cancel' order.id %}">
                        {% csrf_token %}
                        <button style="background: none; border: none; color: #fc2b2b;" type="submit">Отменить заказ</button>
                    </form>
                    {% endif %}
                </div>
                <div class="col-2"></div>
                <div class="col-5">
                    <div class="d-flex flex-wrap" >
                        {% for item in order.items.all %}
                            <div class="mr-3 mb-3">
                                <a href="{% url 'item' item.slug %}">
                                    <img src="{{ item.photo.url }}" class="img-fluid" alt="{{ item.name }}" width=80 style="margin-right:10px;margin-left:10px;">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
    </div>
    {% endfor %}
{% endblock %}