{% extends "users/user_layout.html" %}
{% load humanize %}

{% block userbody %}
    
    <h3>Адреса</h3>
    <br>
    <div class="row">
        <div class="col-8">
            {% if addresses %}
            <form method="post" action="{% url 'delete_address' %}">
                {% csrf_token %}
                <label for="address" class="h6">Выберите адрес</label>
                <select class="form-select" id="address" name="address" aria-label="Выберите адрес">
                    {% for address in addresses %}
                        {% if address.default %}
                            <option selected="selected" value="{{ address.id }}">{{ address.info }}</option>
                        {% else %}
                            <option value="{{ address.id }}">{{ address.info }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <br>
                <div>
                    <button type="submit" class="btn delete_button" type="submit">Удалить адрес</button>
                </div>
            </form>
            {% endif %}
        </div>
        <div class="col-4"></div>
    </div>
    <br>
    <div class="row">
        <h6 style="margin-bottom:0">Добавить новый адерс</h6>
        <div class="col-5">
            <form method="post" action="{% url 'address' %}" class="mt-3">
                {% csrf_token %}
                <div>{{ form.non_field_error }}</div>
                {% for f in form %}
                    <div class="form-group">
                        <div><lable for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</div>
                    </div>
                    <div>{{ f.errors}}</div>
                {% endfor %}
                <br>
                <button type="submit" class="btn button_style">Добавить адрес</button>
            </form>
        </div>
        <div class="col-7"></div>
    </div>
    
{% endblock %}