.auth_form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth_input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.auth_button {
    background-color: #3577da;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth_error_msg {
    color: red;
}

.profile_list_link {
    text-decoration: none; 
    color: inherit;
}

.profile_list_link:hover {
    text-decoration: underline;
}