{% extends "core/layout.html" %}

{% block body %}
    <h1>Главная страница</h1>
    <h2>Привет, {{ user.email }}</h2>
    {% if selected_category is None or selected_category == 0 %}
        <p>Все категории</p>
    {% else %}
        <a href="{% url 'index' %}">Все категории</a>
    {% endif %}
    {% for category in categories %}
        {% if category.id == selected_category %}
            <p>{{ category.name }}</p>
        {% else %}
            <p><a href="{% url 'category' category.slug %}">{{ category.name }}</a></p>
        {% endif %}
    {% endfor %}

    {% for item in items %}
        <p>----------------------------</p>
        <a href="{% url 'item' item.slug %}"><p>{{ item.name }}</p></a>
        <form method="post" action="{% url 'add-to-cart' item.id %}">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            {{ form.quantity }}
            <button type="submit">Submit</button>
        </form> 
        <p>----------------------------</p>
    {% endfor %}
{% endblock %}