{% extends "core/layout.html" %}

{% block body %}
<main>
    <div class="container">
    {% if item.is_in_cart %}
		<h4>{{ item.item.name }}</h4>
		<div class="container">
			<div class="row">
				<div class="col-6">
					{% if item.item.photo %}
						<img src="{{ item.item.photo.url }}" width=400>
					{% endif %}
				</div>
				<div class="col-6">
					<h3>{{ item.item.price }} тг</h3>
					<form action="{% url 'cart' %}">
						<button class="btn btn-success" type="submit">Перейти в корзину</button>
					</form>
				</div>
			</div>
		</div>
    {% else %}
		<h4>{{ item.item.name }}</h4>
		<div class="container">
			<div class="row">
				<div class="col-6">
					{% if item.item.photo %}
						<img src="{{ item.item.photo.url }}" width=400>
					{% endif %}
				</div>
				<div class="col-6">
					<h3>{{ item.item.price }} тг</h3>
					<form method="post" action="{% url 'add_to_cart' item.item.id %}">
						{% csrf_token %}
						<button class="btn btn-primary" type="submit">В коризну</button>
					</form>
				</div>
			</div>
		</div>
    {% endif %}
	</div>
</main>
{% endblock %}