{% extends "core/layout.html" %}
{% load humanize %}

{% block body %}
    <div class="container">
    {% if item.is_in_cart %}
		<h4>{{ item.item.name }}</h4>
		<div class="container">
			<div class="row">
				<div class="col-6">
					{% if item.item.photo %}
						<img src="{{ item.item.photo.url }}" width=400>
					{% endif %}
				</div>
				<div class="col-6">
					<br><br><br>
					<h3>{{ item.item.price|intcomma  }} тг</h3>
					<form action="{% url 'cart' %}">
						<button class="btn btn-success" type="submit">Перейти в корзину</button>
					</form>
					<p style="font-size:14px;">Доступно: {{ item.item.quantity }}</p>
					<br><br>
					{% if item.item.item_brand.photo.url %}
						<img src="{{ item.item.item_brand.photo.url }}" width=100>
					{% endif %}
				</div>
			</div>
			<div class="row">
				<p style="white-space: pre-line">{{ item.item.desc }}</p>
			</div>
		</div>
    {% else %}
		<h4>{{ item.item.name }}</h4>
		<div class="container">
			<div class="row">
				<div class="col-6">
					{% if item.item.photo %}
						<img src="{{ item.item.photo.url }}" width=400>
					{% endif %}
				</div>
				<div class="col-6">
					<br><br><br>
					<h3>{{ item.item.price }} тг</h3>
					<form method="post" action="{% url 'add_to_cart' item.item.id %}">
						{% csrf_token %}
						<button class="btn btn-primary" type="submit">В корзину</button>
					</form>
					<p style="font-size:14px;">Доступно: {{ item.item.quantity }}</p>
					<br><br>
					{% if item.item.item_brand.photo.url %}
						<img src="{{ item.item.item_brand.photo.url }}" width=100>
					{% endif %}
				</div>
			</div>
			<div class="row">
				{{ item.item.desc}}
			</div>
		</div>
    {% endif %}
	</div>
{% endblock %}